* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}

ul {
  list-style: none;
}

ul li {
  background-color: #e49d4d;
  color: #333;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

ul .fa-check,
.fa-trash {
  position: absolute;
  cursor: pointer;
}

ul .checked {
  background: lightgreen;
  text-decoration: line-through;
}

.title {
  text-transform: none;
  font-size: 78px;
  color: #f7f7f7;
  animation: MoveUpDown 1s cubic-bezier(0.4, 0.5, 0.4, 1) infinite;
  position: absolute;
  top: 50px;
  margin-bottom: 72px
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 90px;
  }
  50% {
    top: 80px;
  }
}

.container {
  height: 450px;
  width: 330px;
  background: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 40px #ca8d31a2;
  padding: 10px;
}

.fa-check {
  right: 40px;
  color: green;
}

.fa-trash {
  right: 15px;
  color: rgb(201, 55, 18);
}

#input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #555;
  color: #f7f7f7;
  padding: 0 10px;
  margin: 15px 0;
}

#input::placeholder {
  color: #d4d4d4;
}
